<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>$TAB_TITLE</title>
</head>
<body>
    
    <header>
        <nav>
                <a href="/"><img src="/assets/images/aleph-hacker.png" id="logo"></a>
                <a href="/callbackfunctions">-- Callback Functions</a>
                <a href="/codeconventions">-- Code Conventions</a>
                <a href="/designandstructure">-- Design and Structure</a>
                <a href="/loops">-- Loops</a>
                <a href="/modules">-- Modules</a>
                <a href="/packages">-- Packages</a>
                <a href="redirection">-- Redirection</a>
                <a href="/rendering">-- Rendering</a>
                <a href="/restapi">-- REST API</a>
                <a href="/terminal">-- Terminal</a>
                <a href="/variables">-- Variables</a>
                <a href="/login">-- $LOGIN</a>

        </nav>
    </header>

    <main>