body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: greenyellow;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

a:hover {
    text-decoration:rgb(255, 255, 0);
    color: white;
    text-shadow: greenyellow 3px 0px 5px, rgb(252, 252, 116) -3px 0px 5px;
}

nav {
    background-color:rgb(18, 18, 18);
    box-shadow: black -1px -1px 3px, rgb(72, 72, 72) 1px 1px 3px;
    border-radius: 1em;
    text-shadow: green 1px 0px 1px, yellow -1px 0px 1px;
    font-family: monospace;
    margin-bottom: 5vh;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

footer {
    display: flex;
    align-self: flex-end;
    margin-right: 2em;
}

main {
    flex: 1;
    margin-left: 20vw;
    margin-right: 20vw;
}

#logo {
    max-width: 4.5em;
    margin: 1em;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

#logo:hover {
    box-shadow:  greenyellow 3px 3px 10px, rgb(252, 252, 116) -3px -3px 10px;
    filter: brightness(5) contrast(200%) blur(0.5px);
}

#node-logo {
    justify-content: center;
    max-width: 40em;
    padding: 1em;
}

h1 {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: rgba(255, 0, 0, 0.8) -3px -3px 3px, rgba(0, 128, 0, 0.8) 2px 2px 3px,rgba(0, 0, 255, 0.8) 3px -3px 3px;
}

h2 {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: rgba(255, 0, 0, 0.8) -1px -1px 2px, rgba(0, 128, 0, 0.8) 1px 1px 2px,rgba(0, 0, 255, 0.8) 1px -1px 2px;
}

pre code {
    background-color: rgb(18, 18, 18);
    color: greenyellow;
    text-shadow: green 1px 0px 1px, yellow -1px 0px 1px;
    font-family: monospace;
    display: block;
    box-shadow: darkgreen -3px 0px 3px, green 3px 0px 3px;
    min-width: 100px;
    max-width: 100%;
    border-radius: 1em;
}